[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "8.1.3"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
cli = "python3 src/pydx.py"
build = "python3 setup.py sdist"
